[maxscale]
threads                      = auto
logdir                       = /var/log/maxscale/
#admin_enabled               = 1
#admin_auth                  = 1
#admin_host                  = 0.0.0.0
#admin_gui                   = 1
#admin_ssl_key               = /var/lib/maxscale/server-key.pem
#admin_ssl_cert              = /var/lib/maxscale/server-cert.pem
#admin_ssl_ca_cert           = /var/lib/maxscale/ca-cert.pem

[server1]
type                         = server
address                      = <SERVER1-IP-ADDRESS>
port                         = 3306
protocol                     = MariaDBBackend

[server2]
type                         = server
address                      = <SERVER2-IP-ADDRESS>
port                         = 3306
protocol                     = MariaDBBackend

[server3]
type                         = server
address                      = <SERVER3-IP-ADDRESS>
port                         = 3306
protocol                     = MariaDBBackend

#[MariaDB-Monitor]
#type                        = monitor
#module                      = mariadbmon
#servers                     = server1,server2,server3
#user                        = <USERNAME>
#password                    = <PASSWORD>
#monitor_interval            = 5000ms
#replication_user            = repuser
#replication_password        = <ENCRYPTED PASSWORD HASH FROM LESSON 7-1>
#backend_connect_timeout     = 2
#backend_write_timeout       = 2
#backend_read_timeout        = 2
#backend_connect_attempts    = 1
#detect_standalone_master    = 1
#auto_failover               = 1
#auto_rejoin                 = 1
#failcount                   = 2 
#switchover_timeout          = 20
#failover_timeout            = 20 

#[Database-Firewall]
#type                        = filter
#module                      = dbfwfilter
#action                      = block
#rules                       = /etc/maxscale.modules.d/firewall.txt

#[Cache-Filter]
#type                        = filter
#module                      = cache
#soft_ttl                    = 3600
#hard_ttl                    = 7200
#max_size                    = 20M
#selects                     = assume_cacheable
#rules                       = /var/lib/maxscale/cache_rules.json
#debug                       = 31

#[SQL-Injection-Filter]
#type                        = filter
#module                      = dbfwfilter
#action                      = block
#rules                       = /etc/maxscale.modules.d/sql_injection.txt

#[DoS-Protection]
#type                        = filter
#module                      = throttlefilter
#max_qps                     = 2
#throttling_duration         = 60000

#[Rewrite-CTAS]
#type = filter
#module=luafilter
#session_script              = /etc/maxscale.modules.d/rewrite_ctas.lua

#[Read-Write-Listener]/
#type                        = listener
#service                     = Read-Write-Service
#protocol                    = MariaDBClient
#port                        = 4006

#[Database-Firewall-Listener]
#type                        = listener
#service                     = Database-Firewall-Service
#protocol                    = MariaDBClient
#port                        = 4004

#[Read-Write-Service]
#type                        = service
#router                      = readwritesplit
#servers                     = server1,server2,server3
#user                        = <USERNAME>
#password                    = <PASSWORD>
#max_sescmd_history          = 1500
#causal_reads                = 1
#causal_reads_timeout        = 10s
#transaction_replay          = 1
#transaction_replay_max_size = 1Mi
#delayed_retry               = 1
#master_reconnection         = 1
#master_failure_mode         = fail_on_write
	
#[Database-Firewall-Service]
#type                        = service
#router                      = readconnroute
#servers                     = server1
#user                        = <USERNAME>
#password                    = <PASSWORD>
#filters                     = Database-Firewall
