[maxscale]
threads=auto
logdir=/var/log/maxscale/

[server1]
type=server
address=<SERVER1-IP-ADDRESS>
port=3306
protocol=MariaDBBackend

[server2]
type=server
address=<SERVER2-IP-ADDRESS>
port=3306
protocol=MariaDBBackend

[server3]
type=server
address=<SERVER3-IP-ADDRESS>
port=3306
protocol=MariaDBBackend

#[MariaDB-Monitor]
#type=monitor
#module=mariadbmon
#servers=server1,server2,server3
#user=<USERNAME>
#password=<PASSWORD>
#monitor_interval=2000

#[Read-Only-Service]
#type=service
#router=readconnroute
#servers=server1,server2,server3
#user=<USERNAME>
#password=<PASSWORD>
#router_options=slave

#[Read-Write-Service]
#type=service
#router=readwritesplit
#servers=server1,server2,server3
#user=<USERNAME>
#password=<PASSWORD>
