[mariadb]
#### PRIMARY SERVER CONFIGURATION
#server_id            = 1
#log_basename         = primary1
#log-bin              = primary1-bin
#log-bin-index        = primary1-bin.index
#binlog_format        = ROW
#expire_logs_days     = 10

#### REPLICA 1 SERVER CONFIGURATION
#read-only
#server_id            = 2
#log_basename         = replica1
#log-bin              = replica1-bin
#log-bin-index        = replica1-bin.index
#binlog_format        = ROW
#expire_logs_days     = 10

#### REPLICA 2 SERVER CONFIGURATION
#read-only
#server_id            = 3
#log_basename         = replica2
#log-bin              = replica2-bin
#log-bin-index        = replica2-bin.index
#binlog_format        = ROW
#expire_logs_days     = 10
